IIProjectClient/Service References/ProjectService/ProjectService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ProjectService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50433/ProjectService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50433/ProjectService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:50433/ProjectService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System.Xml.Linq" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="iProjectService_HämtaEvents_InputMessage">
    <wsdl:part name="parameters" element="tns:HämtaEvents" />
  </wsdl:message>
  <wsdl:message name="iProjectService_HämtaEvents_OutputMessage">
    <wsdl:part name="parameters" element="tns:HämtaEventsResponse" />
  </wsdl:message>
  <wsdl:message name="iProjectService_HämtaPlats_InputMessage">
    <wsdl:part name="parameters" element="tns:HämtaPlats" />
  </wsdl:message>
  <wsdl:message name="iProjectService_HämtaPlats_OutputMessage">
    <wsdl:part name="parameters" element="tns:HämtaPlatsResponse" />
  </wsdl:message>
  <wsdl:message name="iProjectService_HämtaFordon_InputMessage">
    <wsdl:part name="parameters" element="tns:HämtaFordon" />
  </wsdl:message>
  <wsdl:message name="iProjectService_HämtaFordon_OutputMessage">
    <wsdl:part name="parameters" element="tns:HämtaFordonResponse" />
  </wsdl:message>
  <wsdl:message name="iProjectService_HämtaAllaPlatser_InputMessage">
    <wsdl:part name="parameters" element="tns:HämtaAllaPlatser" />
  </wsdl:message>
  <wsdl:message name="iProjectService_HämtaAllaPlatser_OutputMessage">
    <wsdl:part name="parameters" element="tns:HämtaAllaPlatserResponse" />
  </wsdl:message>
  <wsdl:portType name="iProjectService">
    <wsdl:operation name="HämtaEvents">
      <wsdl:input wsaw:Action="http://tempuri.org/iProjectService/HämtaEvents" message="tns:iProjectService_HämtaEvents_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/iProjectService/HämtaEventsResponse" message="tns:iProjectService_HämtaEvents_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="HämtaPlats">
      <wsdl:input wsaw:Action="http://tempuri.org/iProjectService/HämtaPlats" message="tns:iProjectService_HämtaPlats_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/iProjectService/HämtaPlatsResponse" message="tns:iProjectService_HämtaPlats_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="HämtaFordon">
      <wsdl:input wsaw:Action="http://tempuri.org/iProjectService/HämtaFordon" message="tns:iProjectService_HämtaFordon_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/iProjectService/HämtaFordonResponse" message="tns:iProjectService_HämtaFordon_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="HämtaAllaPlatser">
      <wsdl:input wsaw:Action="http://tempuri.org/iProjectService/HämtaAllaPlatser" message="tns:iProjectService_HämtaAllaPlatser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/iProjectService/HämtaAllaPlatserResponse" message="tns:iProjectService_HämtaAllaPlatser_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_iProjectService" type="tns:iProjectService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HämtaEvents">
      <soap:operation soapAction="http://tempuri.org/iProjectService/HämtaEvents" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HämtaPlats">
      <soap:operation soapAction="http://tempuri.org/iProjectService/HämtaPlats" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HämtaFordon">
      <soap:operation soapAction="http://tempuri.org/iProjectService/HämtaFordon" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HämtaAllaPlatser">
      <soap:operation soapAction="http://tempuri.org/iProjectService/HämtaAllaPlatser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ProjectService">
    <wsdl:port name="BasicHttpBinding_iProjectService" binding="tns:BasicHttpBinding_iProjectService">
      <soap:address location="http://localhost:50433/ProjectService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>